# Importing numpy and pandas and using the loaded variables to load all files.

In [1]:
import numpy as np
import pandas as pd

In [2]:
%run "./../1.Load Codes/1.1 Variables.ipynb"

Loaded variables

In [3]:
acorn_data = pd.read_csv(home_path + '/Datasets/acorn_details.csv', encoding= 'unicode_escape')
energy_data = pd.read_csv(home_path + '/Datasets/daily_dataset1/daily_dataset.csv', encoding= 'unicode_escape')
households_data = pd.read_csv(home_path + '/Datasets/informations_households.csv', encoding= 'unicode_escape')
weather_data = pd.read_csv(home_path + '/Datasets/weather_daily_darksky.csv', encoding= 'unicode_escape')
bank_holidays = pd.read_csv(home_path + '/Datasets/uk_bank_holidays.csv', encoding= 'unicode_escape')

# Data Overview

We will check the data present in the files, the number of columns and type of each column in this section.

1. Acorn Data

In [4]:
acorn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 826 entries, 0 to 825
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MAIN CATEGORIES  826 non-null    object
 1   CATEGORIES       826 non-null    object
 2   REFERENCE        826 non-null    object
 3   ACORN-A          826 non-null    float64
 4   ACORN-B          826 non-null    float64
 5   ACORN-C          826 non-null    float64
 6   ACORN-D          826 non-null    float64
 7   ACORN-E          826 non-null    float64
 8   ACORN-F          826 non-null    float64
 9   ACORN-G          826 non-null    float64
 10  ACORN-H          826 non-null    float64
 11  ACORN-I          826 non-null    float64
 12  ACORN-J          826 non-null    float64
 13  ACORN-K          826 non-null    float64
 14  ACORN-L          826 non-null    float64
 15  ACORN-M          826 non-null    float64
 16  ACORN-N          826 non-null    float64
 17  ACORN-O          826 non-null    float64
 18  ACORN-P          826 non-null    float64
 19  ACORN-Q          826 non-null    float64
dtypes: float64(17), object(3)
memory usage: 129.2+ KB

In [5]:
acorn_data.head()

,MAIN CATEGORIES,CATEGORIES,REFERENCE,ACORN-A,ACORN-B,ACORN-C,ACORN-D,ACORN-E,ACORN-F,ACORN-G,ACORN-H,ACORN-I,ACORN-J,ACORN-K,ACORN-L,ACORN-M,ACORN-N,ACORN-O,ACORN-P,ACORN-Q
0,POPULATION,Age,Age 0-4,77.0,83.0,72.0,100.0,120.0,77.0,97.0,97.0,63.0,119.0,67.0,114.0,113.0,89.0,123.0,138.0,133.0
1,POPULATION,Age,Age 5-17,117.0,109.0,87.0,69.0,94.0,95.0,102.0,106.0,67.0,95.0,64.0,108.0,116.0,86.0,89.0,136.0,106.0
2,POPULATION,Age,Age 18-24,64.0,73.0,67.0,107.0,100.0,71.0,83.0,89.0,62.0,104.0,459.0,97.0,96.0,86.0,117.0,109.0,110.0
3,POPULATION,Age,Age 25-34,52.0,63.0,62.0,197.0,151.0,66.0,90.0,88.0,63.0,132.0,145.0,109.0,96.0,90.0,140.0,120.0,120.0
4,POPULATION,Age,Age 35-49,102.0,105.0,91.0,124.0,118.0,93.0,102.0,103.0,76.0,111.0,67.0,99.0,98.0,90.0,102.0,103.0,100.0

2. Energy Data

In [6]:
energy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3510433 entries, 0 to 3510432
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   LCLid          object
 1   day            object
 2   energy_median  float64
 3   energy_mean    float64
 4   energy_max     float64
 5   energy_count   int64
 6   energy_std     float64
 7   energy_sum     float64
 8   energy_min     float64
dtypes: float64(6), int64(1), object(2)
memory usage: 241.0+ MB

In [7]:
energy_data.head()

,LCLid,day,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min
0,MAC000131,2011-12-15,0.4850,0.432045,0.868,22,0.239146,9.505,0.072
1,MAC000131,2011-12-16,0.1415,0.296167,1.116,48,0.281471,14.216,0.031
2,MAC000131,2011-12-17,0.1015,0.189812,0.685,48,0.188405,9.111,0.064
3,MAC000131,2011-12-18,0.1140,0.218979,0.676,48,0.202919,10.511,0.065
4,MAC000131,2011-12-19,0.1910,0.325979,0.788,48,0.259205,15.647,0.066

3. Households data

In [8]:
households_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5566 entries, 0 to 5565
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   LCLid          5566 non-null   object
 1   stdorToU       5566 non-null   object
 2   Acorn          5566 non-null   object
 3   Acorn_grouped  5566 non-null   object
 4   file           5566 non-null   object
dtypes: object(5)
memory usage: 217.5+ KB

In [9]:
households_data.head()

       LCLid stdorToU    Acorn Acorn_grouped     file
0  MAC005492      ToU   ACORN-        ACORN-  block_0
1  MAC001074      ToU   ACORN-        ACORN-  block_0
2  MAC000002      Std  ACORN-A      Affluent  block_0
3  MAC003613      Std  ACORN-A      Affluent  block_0
4  MAC003597      Std  ACORN-A      Affluent  block_0

4. Weather data

In [10]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   temperatureMax               882 non-null    float64
 1   temperatureMaxTime           882 non-null    object
 2   windBearing                  882 non-null    int64
 3   icon                         882 non-null    object
 4   dewPoint                     882 non-null    float64
 5   temperatureMinTime           882 non-null    object
 6   cloudCover                   881 non-null    float64
 7   windSpeed                    882 non-null    float64
 8   pressure                     882 non-null    float64
 9   apparentTemperatureMinTime   882 non-null    object
 10  apparentTemperatureHigh      882 non-null    float64
 11  precipType                   882 non-null    object
 12  visibility                   882 non-null    float64
 13  humidity                     882 non-null    float64
 14  apparentTemperatureHighTime  882 non-null    object
 15  apparentTemperatureLow       882 non-null    float64
 16  apparentTemperatureMax       882 non-null    float64
 17  uvIndex                      881 non-null    float64
 18  time                         882 non-null    object
 19  sunsetTime                   882 non-null    object
 20  temperatureLow               882 non-null    float64
 21  temperatureMin               882 non-null    float64
 22  temperatureHigh              882 non-null    float64
 23  sunriseTime                  882 non-null    object
 24  temperatureHighTime          882 non-null    object
 25  uvIndexTime                  881 non-null    object
 26  summary                      882 non-null    object
 27  temperatureLowTime           882 non-null    object
 28  apparentTemperatureMin       882 non-null    float64
 29  apparentTemperatureMaxTime   882 non-null    object
 30  apparentTemperatureLowTime   882 non-null    object
 31  moonPhase                    882 non-null    float64
dtypes: float64(16), int64(1), object(15)
memory usage: 220.6+ KB

In [11]:
weather_data.head()

,temperatureMax,temperatureMaxTime,windBearing,icon,dewPoint,temperatureMinTime,cloudCover,windSpeed,pressure,apparentTemperatureMinTime,...,temperatureHigh,sunriseTime,temperatureHighTime,uvIndexTime,summary,temperatureLowTime,apparentTemperatureMin,apparentTemperatureMaxTime,apparentTemperatureLowTime,moonPhase
0,11.96,2011-11-11 23:00:00,123,fog,9.40,2011-11-11 07:00:00,0.79,3.88,1016.08,2011-11-11 07:00:00,...,10.87,2011-11-11 07:12:14,2011-11-11 19:00:00,2011-11-11 11:00:00,Foggy until afternoon.,2011-11-11 19:00:00,6.48,2011-11-11 23:00:00,2011-11-11 19:00:00,0.52
1,8.59,2011-12-11 14:00:00,198,partly-cloudy-day,4.49,2011-12-11 01:00:00,0.56,3.94,1007.71,2011-12-11 02:00:00,...,8.59,2011-12-11 07:57:02,2011-12-11 14:00:00,2011-12-11 12:00:00,Partly cloudy throughout the day.,2011-12-12 07:00:00,0.11,2011-12-11 20:00:00,2011-12-12 08:00:00,0.53
2,10.33,2011-12-27 02:00:00,225,partly-cloudy-day,5.47,2011-12-27 23:00:00,0.85,3.54,1032.76,2011-12-27 22:00:00,...,10.33,2011-12-27 08:07:06,2011-12-27 14:00:00,2011-12-27 00:00:00,Mostly cloudy throughout the day.,2011-12-27 23:00:00,5.59,2011-12-27 02:00:00,2011-12-28 00:00:00,0.10
3,8.07,2011-12-02 23:00:00,232,wind,3.69,2011-12-02 07:00:00,0.32,3.00,1012.12,2011-12-02 07:00:00,...,7.36,2011-12-02 07:46:09,2011-12-02 12:00:00,2011-12-02 10:00:00,Partly cloudy throughout the day and breezy ov...,2011-12-02 19:00:00,0.46,2011-12-02 12:00:00,2011-12-02 19:00:00,0.25
4,8.22,2011-12-24 23:00:00,252,partly-cloudy-night,2.79,2011-12-24 07:00:00,0.37,4.46,1028.17,2011-12-24 07:00:00,...,7.93,2011-12-24 08:06:15,2011-12-24 15:00:00,2011-12-24 13:00:00,Mostly cloudy throughout the day.,2011-12-24 19:00:00,-0.51,2011-12-24 23:00:00,2011-12-24 20:00:00,0.99

5. UK Bank Holidays

In [12]:
bank_holidays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Bank holidays  25 non-null     object
 1   Type           25 non-null     object
dtypes: object(2)
memory usage: 528.0+ bytes

In [13]:
bank_holidays.sort_values('Bank holidays')

   Bank holidays                                          Type
8     2012-02-01               New Year?s Day (substitute day)
4     2012-04-06          Spring bank holiday (substitute day)
3     2012-05-06  Queen?s Diamond Jubilee (extra bank holiday)
7     2012-06-04                                   Good Friday
5     2012-07-05                        Early May bank holiday
2     2012-08-27                           Summer bank holiday
6     2012-09-04                                 Easter Monday
1     2012-12-25                                 Christmas Day
0     2012-12-26                                    Boxing Day
16    2013-01-01                                New Year?s Day
14    2013-01-04                                 Easter Monday
15    2013-03-29                                   Good Friday
12    2013-05-27                           Spring bank holiday
13    2013-06-05                        Early May bank holiday
11    2013-08-26                           Summer bank holiday
10    2013-12-25                                 Christmas Day
9     2013-12-26                                    Boxing Day
24    2014-01-01                                New Year?s Day
23    2014-04-18                                   Good Friday
22    2014-04-21                                 Easter Monday
21    2014-05-05                        Early May bank holiday
20    2014-05-26                           Spring bank holiday
19    2014-08-25                           Summer bank holiday
18    2014-12-25                                 Christmas Day
17    2014-12-26                                    Boxing Day

# Quality Checks

1. Acorn Data

In [14]:
print(acorn_data['MAIN CATEGORIES'].unique())

['POPULATION' 'HOUSING' 'FAMILY' 'ECONOMY' 'EDUCATION' 'HEALTH'
 'TRANSPORT' 'MARKETING CHANNELS' 'FINANCE' 'DIGITAL' 'SHOPPING' 'CONTACT'
 'ENVIRONMENT' 'COMMUNITY SAFETY' 'LEISURE TIME']

2. Energy Data

In [15]:
print('Number of households with energy data = ',len(energy_data['LCLid'].unique()))

Number of households with energy data =  5566

In [16]:
print('Energy consumption is tracked from ')
print(energy_data['day'].min(), ' to ', energy_data['day'].max())

Energy consumption is tracked from
2011-11-23  to  2014-02-28

In [17]:
print('Number of Households consuming energy on dates ')
energy_data.groupby('day').agg({'LCLid': ['count']}).reset_index()

Number of Households consuming energy on dates

            day LCLid
                count
0    2011-11-23    13
1    2011-11-24    25
2    2011-11-25    32
3    2011-11-26    41
4    2011-11-27    41
..          ...   ...
824  2014-02-24  4994
825  2014-02-25  4995
826  2014-02-26  4993
827  2014-02-27  4990
828  2014-02-28  4987

[829 rows x 2 columns]

3. Household Data

In [18]:
print('Count of Std = ' , len(households_data[households_data['stdorToU'] == 'Std']))
print('Count of ToU = ' , len(households_data[households_data['stdorToU'] == 'ToU']))

Count of Std =  4443
Count of ToU =  1123

In [19]:
print(households_data['Acorn_grouped'].unique())

['ACORN-' 'Affluent' 'Comfortable' 'Adversity' 'ACORN-U']

In [20]:
print(households_data['Acorn'].unique())

['ACORN-' 'ACORN-A' 'ACORN-B' 'ACORN-C' 'ACORN-D' 'ACORN-E' 'ACORN-F'
 'ACORN-G' 'ACORN-H' 'ACORN-I' 'ACORN-J' 'ACORN-K' 'ACORN-L' 'ACORN-M'
 'ACORN-N' 'ACORN-O' 'ACORN-P' 'ACORN-Q' 'ACORN-U']

In [21]:
(households_data.groupby('Acorn').agg({'LCLid': ['count']}).reset_index()).transpose()

,,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
Acorn,,ACORN-,ACORN-A,ACORN-B,ACORN-C,ACORN-D,ACORN-E,ACORN-F,ACORN-G,ACORN-H,ACORN-I,ACORN-J,ACORN-K,ACORN-L,ACORN-M,ACORN-N,ACORN-O,ACORN-P,ACORN-Q,ACORN-U
LCLid,count,2,157,25,151,292,1567,684,205,455,51,112,165,342,113,152,103,110,831,49

4. Weather Data

In [22]:
print(weather_data['icon'].unique())

['fog' 'partly-cloudy-day' 'wind' 'partly-cloudy-night' 'clear-day'
 'cloudy']

In [23]:
weather_data['day']=  pd.to_datetime(weather_data['time'])
weather_data['day']=  pd.to_datetime(weather_data['day'],format='%Y%m%d').dt.date
weather_data.groupby('icon').agg({'day': ['count']}).reset_index()

                  icon   day
                       count
0            clear-day     6
1               cloudy     9
2                  fog    91
3    partly-cloudy-day   619
4  partly-cloudy-night    33
5                 wind   124

# Data Cleaning and Transformations

In [24]:
energy_data.isna().sum()

LCLid                0
day                  0
energy_median       30
energy_mean         30
energy_max          30
energy_count         0
energy_std       11331
energy_sum          30
energy_min          30
dtype: int64

In [25]:
energy_data = energy_data.dropna(subset=['LCLid', 'day', 'energy_sum'])

In [26]:
(energy_data.energy_sum == 0).sum()

15138

In [27]:
energy_data = energy_data[energy_data['energy_sum'] != 0]

In [28]:
(households_data.Acorn == 'ACORN-').sum()

2

In [29]:
households_data=households_data[households_data['Acorn'] != 'ACORN-']

In [30]:
weather_data.isna().sum()

temperatureMax                 0
temperatureMaxTime             0
windBearing                    0
icon                           0
dewPoint                       0
temperatureMinTime             0
cloudCover                     1
windSpeed                      0
pressure                       0
apparentTemperatureMinTime     0
apparentTemperatureHigh        0
precipType                     0
visibility                     0
humidity                       0
apparentTemperatureHighTime    0
apparentTemperatureLow         0
apparentTemperatureMax         0
uvIndex                        1
time                           0
sunsetTime                     0
temperatureLow                 0
temperatureMin                 0
temperatureHigh                0
sunriseTime                    0
temperatureHighTime            0
uvIndexTime                    1
summary                        0
temperatureLowTime             0
apparentTemperatureMin         0
apparentTemperatureMaxTime     0
apparentTemperatureLowTime     0
moonPhase                      0
day                            0
dtype: int64

In [31]:
weather_data = weather_data.dropna()
weather_data.isna().sum()

temperatureMax                 0
temperatureMaxTime             0
windBearing                    0
icon                           0
dewPoint                       0
temperatureMinTime             0
cloudCover                     0
windSpeed                      0
pressure                       0
apparentTemperatureMinTime     0
apparentTemperatureHigh        0
precipType                     0
visibility                     0
humidity                       0
apparentTemperatureHighTime    0
apparentTemperatureLow         0
apparentTemperatureMax         0
uvIndex                        0
time                           0
sunsetTime                     0
temperatureLow                 0
temperatureMin                 0
temperatureHigh                0
sunriseTime                    0
temperatureHighTime            0
uvIndexTime                    0
summary                        0
temperatureLowTime             0
apparentTemperatureMin         0
apparentTemperatureMaxTime     0
apparentTemperatureLowTime     0
moonPhase                      0
day                            0
dtype: int64

# Exporting file data

In [32]:
import pickle

# save the data from the files
files_data = {
    'acorn_data': acorn_data,
    'energy_data': energy_data,
    'households_data': households_data,
    'weather_data': weather_data
}
save_path = open("files.pickle","wb")
pickle.dump(files_data, save_path)