In [29]:
import numpy as np
import pandas as pd

In [30]:
%store -r home_path

In [31]:
acorn_data = pd.read_csv(home_path + '/0.Datasets/acorn_details.csv', encoding= 'unicode_escape')
energy_data = pd.read_csv(home_path + '/0.Datasets/daily_dataset1/daily_dataset.csv', encoding= 'unicode_escape')
households_data = pd.read_csv(home_path + '/0.Datasets/informations_households.csv', encoding= 'unicode_escape')
weather_data = pd.read_csv(home_path + '/0.Datasets/weather_daily_darksky.csv', encoding= 'unicode_escape')
bank_holidays = pd.read_csv(home_path + '/0.Datasets/uk_bank_holidays.csv', encoding= 'unicode_escape')

# Data Overview

In [32]:
acorn_data.head()

,MAIN CATEGORIES,CATEGORIES,REFERENCE,ACORN-A,ACORN-B,ACORN-C,ACORN-D,ACORN-E,ACORN-F,ACORN-G,ACORN-H,ACORN-I,ACORN-J,ACORN-K,ACORN-L,ACORN-M,ACORN-N,ACORN-O,ACORN-P,ACORN-Q
0,POPULATION,Age,Age 0-4,77.0,83.0,72.0,100.0,120.0,77.0,97.0,97.0,63.0,119.0,67.0,114.0,113.0,89.0,123.0,138.0,133.0
1,POPULATION,Age,Age 5-17,117.0,109.0,87.0,69.0,94.0,95.0,102.0,106.0,67.0,95.0,64.0,108.0,116.0,86.0,89.0,136.0,106.0
2,POPULATION,Age,Age 18-24,64.0,73.0,67.0,107.0,100.0,71.0,83.0,89.0,62.0,104.0,459.0,97.0,96.0,86.0,117.0,109.0,110.0
3,POPULATION,Age,Age 25-34,52.0,63.0,62.0,197.0,151.0,66.0,90.0,88.0,63.0,132.0,145.0,109.0,96.0,90.0,140.0,120.0,120.0
4,POPULATION,Age,Age 35-49,102.0,105.0,91.0,124.0,118.0,93.0,102.0,103.0,76.0,111.0,67.0,99.0,98.0,90.0,102.0,103.0,100.0

In [33]:
energy_data.head()

,LCLid,day,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min
0,MAC000131,2011-12-15,0.4850,0.432045,0.868,22,0.239146,9.505,0.072
1,MAC000131,2011-12-16,0.1415,0.296167,1.116,48,0.281471,14.216,0.031
2,MAC000131,2011-12-17,0.1015,0.189812,0.685,48,0.188405,9.111,0.064
3,MAC000131,2011-12-18,0.1140,0.218979,0.676,48,0.202919,10.511,0.065
4,MAC000131,2011-12-19,0.1910,0.325979,0.788,48,0.259205,15.647,0.066

In [34]:
households_data.head()

       LCLid stdorToU    Acorn Acorn_grouped     file
0  MAC005492      ToU   ACORN-        ACORN-  block_0
1  MAC001074      ToU   ACORN-        ACORN-  block_0
2  MAC000002      Std  ACORN-A      Affluent  block_0
3  MAC003613      Std  ACORN-A      Affluent  block_0
4  MAC003597      Std  ACORN-A      Affluent  block_0

In [35]:
weather_data.head()

,temperatureMax,temperatureMaxTime,windBearing,icon,dewPoint,temperatureMinTime,cloudCover,windSpeed,pressure,apparentTemperatureMinTime,...,temperatureHigh,sunriseTime,temperatureHighTime,uvIndexTime,summary,temperatureLowTime,apparentTemperatureMin,apparentTemperatureMaxTime,apparentTemperatureLowTime,moonPhase
0,11.96,2011-11-11 23:00:00,123,fog,9.40,2011-11-11 07:00:00,0.79,3.88,1016.08,2011-11-11 07:00:00,...,10.87,2011-11-11 07:12:14,2011-11-11 19:00:00,2011-11-11 11:00:00,Foggy until afternoon.,2011-11-11 19:00:00,6.48,2011-11-11 23:00:00,2011-11-11 19:00:00,0.52
1,8.59,2011-12-11 14:00:00,198,partly-cloudy-day,4.49,2011-12-11 01:00:00,0.56,3.94,1007.71,2011-12-11 02:00:00,...,8.59,2011-12-11 07:57:02,2011-12-11 14:00:00,2011-12-11 12:00:00,Partly cloudy throughout the day.,2011-12-12 07:00:00,0.11,2011-12-11 20:00:00,2011-12-12 08:00:00,0.53
2,10.33,2011-12-27 02:00:00,225,partly-cloudy-day,5.47,2011-12-27 23:00:00,0.85,3.54,1032.76,2011-12-27 22:00:00,...,10.33,2011-12-27 08:07:06,2011-12-27 14:00:00,2011-12-27 00:00:00,Mostly cloudy throughout the day.,2011-12-27 23:00:00,5.59,2011-12-27 02:00:00,2011-12-28 00:00:00,0.10
3,8.07,2011-12-02 23:00:00,232,wind,3.69,2011-12-02 07:00:00,0.32,3.00,1012.12,2011-12-02 07:00:00,...,7.36,2011-12-02 07:46:09,2011-12-02 12:00:00,2011-12-02 10:00:00,Partly cloudy throughout the day and breezy ov...,2011-12-02 19:00:00,0.46,2011-12-02 12:00:00,2011-12-02 19:00:00,0.25
4,8.22,2011-12-24 23:00:00,252,partly-cloudy-night,2.79,2011-12-24 07:00:00,0.37,4.46,1028.17,2011-12-24 07:00:00,...,7.93,2011-12-24 08:06:15,2011-12-24 15:00:00,2011-12-24 13:00:00,Mostly cloudy throughout the day.,2011-12-24 19:00:00,-0.51,2011-12-24 23:00:00,2011-12-24 20:00:00,0.99

In [36]:
bank_holidays.head()

  Bank holidays                                          Type
0    2012-12-26                                    Boxing Day
1    2012-12-25                                 Christmas Day
2    2012-08-27                           Summer bank holiday
3    2012-05-06  Queen?s Diamond Jubilee (extra bank holiday)
4    2012-04-06          Spring bank holiday (substitute day)

# Quality Checks

1. Acorn Data

In [37]:
print(acorn_data['MAIN CATEGORIES'].unique())

['POPULATION' 'HOUSING' 'FAMILY' 'ECONOMY' 'EDUCATION' 'HEALTH'
 'TRANSPORT' 'MARKETING CHANNELS' 'FINANCE' 'DIGITAL' 'SHOPPING' 'CONTACT'
 'ENVIRONMENT' 'COMMUNITY SAFETY' 'LEISURE TIME']

2. Energy Data check

In [38]:
print('Number of households = ',len(energy_data['LCLid'].unique()))

Number of households =  5566

In [39]:
print('Energy consumption is tracked from ')
print(energy_data['day'].min(), ' to ', energy_data['day'].max())

Energy consumption is tracked from
2011-11-23  to  2014-02-28

In [40]:
print('Number of Households consuming energy on dates ')
energy_consumption = energy_data.groupby('day')[['LCLid']].nunique()
print(energy_consumption)

Number of Households consuming energy on dates
            LCLid
day
2011-11-23     13
2011-11-24     25
2011-11-25     32
2011-11-26     41
2011-11-27     41
...           ...
2014-02-24   4994
2014-02-25   4995
2014-02-26   4993
2014-02-27   4990
2014-02-28   4987

[829 rows x 1 columns]

In [41]:
energy_data=energy_data.dropna()

3. Household Data

In [42]:
print('Count of Std = ' , len(households_data[households_data['stdorToU'] == 'Std']))
print('Count of ToU = ' , len(households_data[households_data['stdorToU'] == 'ToU']))

Count of Std =  4443
Count of ToU =  1123

In [43]:
print(households_data['Acorn_grouped'].unique())

['ACORN-' 'Affluent' 'Comfortable' 'Adversity' 'ACORN-U']

In [44]:
households_data=households_data[households_data['Acorn'] != 'ACORN-']

In [45]:
print(households_data['Acorn'].unique())

['ACORN-A' 'ACORN-B' 'ACORN-C' 'ACORN-D' 'ACORN-E' 'ACORN-F' 'ACORN-G'
 'ACORN-H' 'ACORN-I' 'ACORN-J' 'ACORN-K' 'ACORN-L' 'ACORN-M' 'ACORN-N'
 'ACORN-O' 'ACORN-P' 'ACORN-Q' 'ACORN-U']

In [46]:
households_data.groupby('Acorn')[['LCLid']].nunique()

         LCLid
Acorn
ACORN-A    157
ACORN-B     25
ACORN-C    151
ACORN-D    292
ACORN-E   1567
ACORN-F    684
ACORN-G    205
ACORN-H    455
ACORN-I     51
ACORN-J    112
ACORN-K    165
ACORN-L    342
ACORN-M    113
ACORN-N    152
ACORN-O    103
ACORN-P    110
ACORN-Q    831
ACORN-U     49

4. Weather Data

In [47]:
print(weather_data['icon'].unique())

['fog' 'partly-cloudy-day' 'wind' 'partly-cloudy-night' 'clear-day'
 'cloudy']

In [49]:
# Will check

weather_data['day']=  pd.to_datetime(weather_data['time']) # day is given as timestamp
weather_data['day']=  pd.to_datetime(weather_data['day'],format='%Y%m%d').dt.date

# selecting numeric variables
weather_data_icon = weather_data[['day','icon']]
weather_data_icon = weather_data_icon.dropna()
weather_data_icon = weather_data_icon.groupby('icon').agg({'day': ['count']}).reset_index()
weather_data = weather_data.dropna()

In [50]:
weather_data_icon

                  icon   day
                       count
0            clear-day     6
1               cloudy     9
2                  fog    91
3    partly-cloudy-day   619
4  partly-cloudy-night    33
5                 wind   124

# Exporting file data

In [51]:
import pickle

# save the data from the files
files_data = {
    'acorn_data': acorn_data,
    'energy_data': energy_data,
    'households_data': households_data,
    'weather_data': weather_data
}
save_path = open("files.pickle","wb")
pickle.dump(files_data, save_path)